* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}
@font-face {
  font-family: "BrutGrotesque-book";
  src: url(BrutGrotesque/BrutGrotesque-Book.otf);
  font-family: "BrutGrotesque-bold";
  src: url(BrutGrotesque/BrutGrotesque-Bold.otf);
  font-family: "BrutGrotesque";
  src: url(BrutGrotesque/BrutGrotesque-regular.otf);
  font-family: "BrutGrotesque-medium";
  src: url(BrutGrotesque/BrutGrotesque-Medium.otf);
}
ul,
ul li {
  list-style: none;
}
a ,h2 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  font-family: "BrutGrotesque-bold";
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between; 
  text-align: center;
  font-size: 30px;
  padding: 20px;  
}
.uppercase{
  text-transform: uppercase;
}
.mediumfont{
  font-family: "brutGrotesque-medium";
}
.side1{
  display: grid;
  grid-template-columns: 35% 65%;
  font-family: "BrutGrotesque";
}
.column1{
  font-size: 34px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  letter-spacing: 10px;
}
.column2{
  padding-bottom: 20px;
}
.column3{
  font-family: "BrutGrotesque";
  font-size: 14px;
}
.distance{
  padding-top: 10px;
}
.shadow{
  color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 800px){
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between; 
    text-align: center;
    font-size: 44px;
    padding: 20px;
  }  
  .containerFlex {
    display: flex;
  }
  .column1{
  flex: 3;
  height: 100vh;
  overflow:scroll; 
  font-size: 440px;
  text-align: center;
  font-family: "BrutGrotesque-book";
 }
 .column2{
  flex: 3;
  height: 100vh;
  overflow: scroll;
 }
 .column3{
  flex: 3;
  height: 100vh;
  overflow: scroll;
 }
}